JWT_SECRET = "greatstack"
ADMIN_EMAIL = "admin@example.com"
ADMIN_PASSWORD = "greatstack123"

MYSQL_HOST = "localhost"
MYSQL_USER = "root"
MYSQL_PASS = "mysecretpassword"
MYSQL_DB = "e_commerce"

CLOUDINARY_API_KEY = "888286617384238"
CLOUDINARY_SECRET_KEY = "tg9yw9HZ5PBMXHHM0nJO4T8i6pk"
CLOUDINARY_NAME = "ddewx1h2r"

STRIPE_SECRET_KEY = " sk_test_51RagGuB4jRRkzEmx91JFcuQJ4ykmIJ6atvvlq40hCt93EAb3vMrefA4z4tw6KGxBZM9D0dtMIr4lIhP4siMkEPOb000VI389ih"

RAZORPAY_KEY_SECRET = '-------- Paste Razorpay Secret key --------'
RAZORPAY_KEY_ID = '-------- Paste Razorpay key Id --------'